name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Verificar o código
      - name: Check out the code
        uses: actions/checkout@v2

      # Instalar as dependências
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      # Executar testes com pytest
      - name: Run tests
        run: |
          pytest --maxfail=1 --disable-warnings -q
